/* base for gigya css classes */

.gigya-screen-caption {
	font-family: arial;
	padding-left: 11px;
	line-height: 40px;
}
.gigya-screen,
.gigya-screen * {
	margin: 0 auto;
	padding: 0px;
	border: none;
	color: inherit;
	text-decoration: none;
	width: auto;
	float: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-family: arial;
	font-size: 15px;
	color: #4e515e;
	text-align: left;
	font-family: arial;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.gigya-screen {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-bottom: 25px;
	/* the input is for overriding the selector in the default screenset css */
}
.gigya-screen .gigya-label {
	display: block;
	font-weight: bold;
	font-size: 15px;
	color: #4e515e;
}
.gigya-screen .gigya-label-text,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-code-remember-label,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-edit-header-text,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-edit-number,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-resend-type,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-resend-yourphone,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-resend-header-text,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-header-text,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-header-subtext,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-phonenumber,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-register-example,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-label,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-header-text,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-register-type span,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-resend-type span {
	display: inline-block;
	font-weight: lighter;
	font-size: 15px;
	font-family: arial;
	color: #4e515e;
}
.gigya-screen .gigya-checkbox-text {
	display: inline;
}
.gigya-screen .gigya-message {
	font-size: 15px;
	color: #333;
	display: block;
	text-align: center;
}
.gigya-screen .gigya-message.left {
	text-align: left;
	padding-bottom: 40px;
}
.gigya-screen .gigya-social-login-container {
	margin: auto;
}
.gigya-screen .gigya-forgotPassword,
.gigya-screen .gigya-forgotPassword:link {
	float: right;
}
.gigya-screen .gigya-keep-me-logged-in {
	display: block;
}
.gigya-screen .gigya-input-text,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-code-textbox,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-number,
.gigya-screen .gigya-input-password,
.gigya-screen .gigya-textarea {
	padding-left: 7px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	text-indent: 5px;
	border-color: #b6bdc5;
	color: #4e515e;
	outline: none;
	-webkit-border-radius: 4.5px;
	-moz-border-radius: 4.5px;
	border-radius: 4.5px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
}
.gigya-screen .gigya-input-text:focus,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-code-textbox:focus,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-number:focus,
.gigya-screen .gigya-input-password:focus,
.gigya-screen .gigya-textarea:focus {
	border: 1px solid #87B9EA;
	outline: none;
	-webkit-box-shadow: 0px 0px 5px 0px #1d87ff;
	-moz-box-shadow: 0px 0px 5px 0px #1d87ff;
	box-shadow: 0px 0px 5px 0px #1d87ff;
}
.gigya-screen input.gigya-input-text,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gig-tfa-code-textbox,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gig-tfa-phone-number,
.gigya-screen input.gigya-input-password {
	border: 1px solid #b6bdc5;
}
.gigya-screen input.gigya-input-text:disabled,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gig-tfa-code-textbox:disabled,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gig-tfa-phone-number:disabled,
.gigya-screen input.gigya-input-password:disabled {
	background-color: #f2f2f2;
	border-color: #d4dee4;
	color: #6a6a6a;
}
.gigya-screen input.gigya-input-text.gigya-error,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gigya-error.gig-tfa-code-textbox,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gigya-error.gig-tfa-phone-number,
.gigya-screen input.gigya-input-password.gigya-error {
	-webkit-border-radius: 4.5px;
	-moz-border-radius: 4.5px;
	border-radius: 4.5px;
	border: 1px solid #e76468;
}
.gigya-screen input.gigya-input-text,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gig-tfa-code-textbox,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gig-tfa-phone-number,
.gigya-screen input.gigya-input-text:focus,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gig-tfa-code-textbox:focus,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gig-tfa-phone-number:focus,
.gigya-screen input.gigya-input-text.gigya-valid,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gigya-valid.gig-tfa-code-textbox,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gigya-valid.gig-tfa-phone-number,
.gigya-screen input.gigya-input-text.gigya-valid:focus,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gigya-valid.gig-tfa-code-textbox:focus,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gigya-valid.gig-tfa-phone-number:focus,
.gigya-screen input.gigya-input-text.gigya-pending,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gigya-pending.gig-tfa-code-textbox,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gigya-pending.gig-tfa-phone-number,
.gigya-screen input.gigya-input-text.gigya-pending:focus,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gigya-pending.gig-tfa-code-textbox:focus,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gigya-pending.gig-tfa-phone-number:focus,
.gigya-screen input.gigya-input-text.gigya-error,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gigya-error.gig-tfa-code-textbox,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gigya-error.gig-tfa-phone-number,
.gigya-screen input.gigya-input-text.gigya-error:focus,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gigya-error.gig-tfa-code-textbox:focus,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gigya-error.gig-tfa-phone-number:focus,
.gigya-screen input.gigya-input-password,
.gigya-screen input.gigya-input-password:focus,
.gigya-screen input.gigya-input-password.gigya-valid,
.gigya-screen input.gigya-input-password.gigya-valid:focus,
.gigya-screen input.gigya-input-password.gigya-pending,
.gigya-screen input.gigya-input-password.gigya-pending:focus,
.gigya-screen input.gigya-input-password.gigya-error,
.gigya-screen input.gigya-input-password.gigya-error:focus {
	padding-left: 7px;
}
.gigya-screen .gigya-input-text,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-code-textbox,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-number,
.gigya-screen .gigya-input-password,
.gigya-screen select {
	height: 43px;
}
.gigya-screen .gigya-required-display {
	color: #e76468;
	display: inline-block;
	padding: 0 5px;
}
.gigya-screen .gigya-error-display {
	display: none;
}
.gigya-screen .gigya-error-display.gigya-error-display-active {
	display: block;
}
.gigya-screen *.gigya-error-msg,
.gigya-screen *.gigya-error-msg-active.gigya-form-error-msg {
	line-height: 14px;
	font-size: 13px;
	text-align: center;
	font-weight: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.gigya-screen *.gigya-error-msg.gigya-error-msg-active,
.gigya-screen *.gigya-error-msg-active.gigya-form-error-msg {
	padding-top: 8px;
	padding-bottom: 0px;
	color: #e76468;
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
}
.gigya-screen .gigya-error-msg-active.gigya-form-error-msg {
	_height: 26px;
	font-size: 12px;
	min-height: 26px;
	text-align: center;
	margin-top: 1px;
	border: 1px solid #e76468;
	-webkit-border-radius: 4.4px;
	-moz-border-radius: 4.4px;
	border-radius: 4.4px;
	font-weight: bold;
	padding: 10px;
}
.gigya-screen .gigya-login-provider-row:first-child {
	padding-top: 0px;
}
/* elements inside gigya screen */

.gigya-screen a,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-resend,
.gigya-screen a:visited,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-resend:visited,
.gigya-screen a:link,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-resend:link,
.gigya-screen a:active,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-resend:active {
	color: #1371b9;
	text-decoration: none;
	font-size: 15px;
}
.gigya-screen a:hover,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-resend:hover {
	text-decoration: underline;
}
.gigya-screen h2,
.gigya-screen h1 {
	line-height: 15px;
	font-size: 15px;
	color: #4e515e;
	font-weight: normal;
	text-align: center;
}
.gigya-screen h1 {
	border-bottom: 1px solid #dbdbdb;
	font-weight: bold;
}
.gigya-screen select,
.gigya-screen input[type=text],
.gigya-screen input[type=password],
.gigya-screen input[type=email],
.gigya-screen a.gigya-button,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gigya-button.gig-tfa-phone-code-resend,
.gigya-screen textarea {
	width: 100%;
	-webkit-border-radius: 4.5px;
	-moz-border-radius: 4.5px;
	border-radius: 4.5px;
	border: 1px solid #b6bdc5;
	background-color: #FFFFFF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.gigya-screen input:-ms-input-placeholder {
	color: darkgrey;
}
.gigya-screen .gigya-composite-control-submit,
.gigya-screen .gigya-composite-control-link,
.gigya-screen .gig-tfa-button-submit,
.gigya-screen .gigya-button,
.gigya-screen input[type=submit],
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-edit-link,
.gigya-screen input[type=button],
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-button-container .gig-tfa-button,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-button-container .gig-tfa-button-submit {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.gigya-screen a.gigya-button,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gigya-button.gig-tfa-phone-code-resend,
.gigya-screen input[type=button],
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-button-container .gig-tfa-button,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-button-container .gig-tfa-button-submit,
.gigya-screen input[type=submit],
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-edit-link {
	cursor: pointer;
	width: 100%;
	height: 43px;
	-webkit-border-radius: 1.79px;
	-moz-border-radius: 1.79px;
	border-radius: 1.79px;
	border-color: #1371B9;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4);
	color: #FFFFFF;
	background-color: #1D87FF;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	text-align: center;
	font-size: 19px;
}
.gigya-screen a.gigya-button:hover,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gigya-button.gig-tfa-phone-code-resend:hover,
.gigya-screen input[type=button]:hover,
.gigya-screen a.gigya-button:active,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gigya-button.gig-tfa-phone-code-resend:active,
.gigya-screen input[type=button]:active,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-button-container .gig-tfa-button:active,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-button-container .gig-tfa-button-submit:active,
.gigya-screen input[type=submit]:active,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-edit-link:active,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-button-container .gig-tfa-button:hover,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-button-container .gig-tfa-button-submit:hover,
.gigya-screen input[type=submit]:hover,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-edit-link:hover {
	background-color: #0068DE;
}
.gigya-screen a.gigya-button:active,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gigya-button.gig-tfa-phone-code-resend:active,
.gigya-screen input[type=button]:active,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-button-container .gig-tfa-button:active,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-button-container .gig-tfa-button-submit:active,
.gigya-screen input[type=submit]:active,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-edit-link:active {
	-webkit-box-shadow: inset 0px 2px 7px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0px 2px 7px 0px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px 2px 7px 0px rgba(0, 0, 0, 0.4);
}
.gigya-screen input[type=radio],
.gigya-screen input[type=checkbox],
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-code-remember-checkbox {
	width: auto;
	margin: 2px 0px 0 0px;
	padding: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none;
	vertical-align: middle;
}
.gigya-screen option {
	width: 100%;
	padding: 5px;
}
.gigya-screen option:hover {
	background-color: #3593C1;
}
.gigya-screen label.letter-spacing-s {
	letter-spacing: -0.1px;
}
/* layout */

.gigya-screen .gigya-layout-row {
	zoom: 1;
	display: block;
	text-align: center;
}
.gigya-screen .gigya-layout-row:after {
	content: "";
	display: table;
	clear: both;
}
.gigya-screen .gigya-layout-row.with-two-inputs .gigya-composite-control {
	padding-right: 7.5px;
}
.gigya-screen .gigya-layout-row.with-two-inputs > .gigya-layout-cell + .gigya-layout-cell > .gigya-composite-control {
	padding-right: 0px;
	padding-left: 7.5px;
}
.gigya-screen .gigya-layout-cell {
	text-align: center;
	float: left;
	min-width: 50%;
}
.gigya-screen .gigya-layout-cell .gigya-error-cell {
	width: 100%;
	max-width: none;
	min-width: initial;
}
.gigya-screen .gigya-layout-cell .gigya-layout-cell {
	max-width: 50%;
}
.gigya-screen .gigya-layout-footer {
	text-align: right;
	clear: both;
}
.gigya-screen.portrait .gigya-layout-row .submit-button {
	padding-bottom: 25px;
}
.gigya-screen.portrait .gigya-layout-row .gigya-layout-cell.responsive,
.gigya-screen.portrait .gigya-layout-row.with-divider .gigya-layout-cell.responsive {
	float: none;
	min-width: 100%;
	width: 100%;
}
/* landscape */

.gigya-screen-content div.gigya-screen.landscape {
	padding-left: 43px;
	padding-right: 43px;
	width: 920px;
}
.gigya-screen.landscape {
	padding-top: 50px;
}
.gigya-screen.landscape .gigya-composite-control.gigya-composite-control-social-login {
	position: relative;
	right: 25px;
}
/* portrait */

.gigya-screen.portrait {
	width: 500px;
	font-size: 15px;
	padding-left: 68px;
	padding-right: 68px;
	padding-top: 40px;
}
.gigya-screen.portrait .sub-title-text {
	font-size: 15px;
}
.gigya-screen.portrait .gigya-error-msg.gigya-error-msg-active,
.gigya-screen.portrait .gigya-error-msg-active.gigya-form-error-msg {
	font-size: 13px;
}
.gigya-screen.portrait .text-field-disabled {
	background-color: #f2f2f2;
	border: 1px solid #d6dee4;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #4e515e;
}
.gigya-screen.portrait .gigya-composite-control {
	padding-left: 0px;
	padding-right: 0px;
}
.gigya-screen.portrait .gigya-composite-control.gigya-composite-control-social-login {
	width: -webkit-calc(100% + 50px);
	width: -moz-calc(100% + 50px);
	width: calc(100% + 50px);
	position: relative;
	right: 27px;
}
/* mobile */

.gigya-screen.portrait.mobile {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
}
.gigya-screen.portrait.mobile:before {
	display: block;
	width: 375px;
	content: '';
}
.gigya-screen.portrait.mobile .text-field-disabled {
	color: #4e515e;
}
.gigya-screen.portrait.mobile a,
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-resend,
.gigya-screen.portrait.mobile h2,
.gigya-screen.portrait.mobile h1,
.gigya-screen.portrait.mobile .gigya-label,
.gigya-screen.portrait.mobile .gigya-label-text,
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-code-remember-label,
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-edit-header-text,
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-edit-number,
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-resend-type,
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-resend-yourphone,
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-resend-header-text,
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-header-text,
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-header-subtext,
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-phonenumber,
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-register-example,
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-label,
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-header-text,
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-register-type span,
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-resend-type span,
.gigya-screen.portrait.mobile .sub-title-text,
.gigya-screen.portrait.mobile .gigya-message,
.gigya-screen.portrait.mobile .gigya-terms-of-use,
.gigya-screen.portrait.mobile .gigya-forgotPassword,
.gigya-screen.portrait.mobile .gigya-login-footer-text-wrapper,
.gigya-screen.portrait.mobile .gigya-register-here-link,
.gigya-screen.portrait.mobile .gigya-composite-control-label,
.gigya-screen.portrait.mobile .main-header,
.gigya-screen.portrait.mobile .site-title,
.gigya-screen.portrait.mobile .site-title,
.gigya-screen.portrait.mobile .forgotpassword,
.gigya-screen.portrait.mobile *.gigya-error-msg.gigya-error-msg-active,
.gigya-screen.portrait.mobile *.gigya-error-msg-active.gigya-form-error-msg {
	font-size: 13px;
}
.gigya-screen.portrait.mobile input[type=text],
.gigya-screen.portrait.mobile input[type=password],
.gigya-screen.portrait.mobile input[type=email],
.gigya-screen.portrait.mobile select {
	height: 36px;
	font-size: 13px;
}
.gigya-screen.portrait.mobile *.gigya-error-msg.gigya-error-msg-active,
.gigya-screen.portrait.mobile *.gigya-error-msg-active.gigya-form-error-msg {
	font-size: 13px;
}
.gigya-screen.portrait.mobile .gigya-composite-control-social-login {
	width: -webkit-calc(100% + 40px);
	width: -moz-calc(100% + 40px);
	width: calc(100% + 40px);
	position: relative;
	right: 20px;
}
.gigya-screen.portrait.mobile input[type=checkbox],
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-code-remember-checkbox {
	margin-bottom: 2px;
}
.gigya-screen.portrait.mobile label.letter-spacing-s {
	letter-spacing: 0px;
}
/* composite controls - spacing */

.gigya-screen .gigya-composite-control {
	padding-bottom: 18px;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-label.main-text,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-header-text {
	padding-bottom: 40px;
	display: block;
	text-align: left;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-label.main-text.inlined,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .inlined.gig-tfa-header-text {
	display: inline-block;
	text-align: center;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-label.social-login-title {
	padding-bottom: 26px;
	display: inline-block;
	text-align: center;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-header {
	padding-bottom: 26px;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown,
.gigya-screen .gigya-composite-control.gigya-composite-control-textbox,
.gigya-screen .gigya-composite-control.gigya-composite-control-password {
	padding-bottom: 5px;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown .gigya-label,
.gigya-screen .gigya-composite-control.gigya-composite-control-textbox .gigya-label,
.gigya-screen .gigya-composite-control.gigya-composite-control-password .gigya-label {
	padding-bottom: 6px;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown input,
.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown select,
.gigya-screen .gigya-composite-control.gigya-composite-control-textbox input,
.gigya-screen .gigya-composite-control.gigya-composite-control-textbox select,
.gigya-screen .gigya-composite-control.gigya-composite-control-password input,
.gigya-screen .gigya-composite-control.gigya-composite-control-password select {
	margin-bottom: 13px;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-dropdown .gigya-error-msg-active,
.gigya-screen .gigya-composite-control.gigya-composite-control-textbox .gigya-error-msg-active,
.gigya-screen .gigya-composite-control.gigya-composite-control-password .gigya-error-msg-active {
	padding-top: 0px;
	padding-bottom: 8px;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-captcha-widget {
	padding-bottom: 0px;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-captcha-widget .gigya-captcha-wrapper {
	margin-bottom: 5px;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-captcha-widget .gigya-captcha-wrapper .gigya-captcha {
	margin: 0px auto 13px auto;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-captcha-widget .gigya-captcha-wrapper .gigya-captcha input {
	height: auto;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-captcha-widget .gigya-captcha-wrapper .gigya-captcha .recaptcha_only_if_privacy a,
.gigya-screen.portrait .gigya-composite-control.gigya-composite-control-captcha-widget .gigya-captcha-wrapper .gigya-captcha .recaptcha_only_if_privacy div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-resend,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gigya-composite-control.gigya-composite-control-captcha-widget .gigya-captcha-wrapper .gigya-captcha .recaptcha_only_if_privacy .gig-tfa-phone-code-resend {
	font-size: 12px;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-captcha-widget .gigya-captcha-wrapper .gigya-error-msg-active {
	padding-top: 0px;
	padding-bottom: 8px;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-tfa-widget {
	padding-bottom: 0px;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-submit,
.gigya-screen .gigya-composite-control.gigya-composite-control-button,
.gigya-screen .gigya-composite-control.gigya-composite-control-link.button {
	padding-bottom: 25px;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-submit + .gigya-error-display-active,
.gigya-screen .gigya-composite-control.gigya-composite-control-button + .gigya-error-display-active,
.gigya-screen .gigya-composite-control.gigya-composite-control-link.button + .gigya-error-display-active {
	padding-bottom: 25px;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-link.button {
	display: block;
}
.gigya-screen .gigya-composite-control.gigya-footer {
	padding-bottom: 0px;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-social-login {
	padding: 0px;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-multi-choice .gigya-label {
	padding-bottom: 8px;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-multi-choice .gigya-multi-choice-item {
	padding-top: 10px;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-multi-choice .gigya-multi-choice-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-moz-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-multi-choice .gigya-multi-choice-item .gigya-input-radio {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-multi-choice .gigya-multi-choice-item label {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	margin-left: 8px;
	width: 100%;
	display: block;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-checkbox {
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-moz-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-checkbox .gigya-input-checkbox {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}
.gigya-screen .gigya-composite-control.gigya-composite-control-checkbox .gigya-label {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-moz-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	margin-left: 8px;
	width: 100%;
	display: block;
}
.gigya-screen .gigya-composite-control.gigya-terms-error {
	padding: 5px;
	margin-bottom: 18px;
	position: relative;
	right: 6px;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #DD4B39;
}
.gigya-screen div.gigya-loginID-availability-available {
	margin-bottom: 18px;
}
.gigya-screen form.gigya-form-error .gigya-composite-control.gigya-composite-control-submit,
.gigya-screen form.gigya-form-error .gigya-composite-control.gigya-composite-control-button,
.gigya-screen form.gigya-form-error .gigya-composite-control.gigya-composite-control-link.button {
	padding-bottom: 10px;
}
.gigya-screen form.gigya-form-error .gigya-composite-control.gigya-composite-control-form-error.gigya-error-display-active {
	padding-bottom: 10px;
}
.gigya-screen.landscape .gigya-layout-row.with-divider {
	padding-bottom: 25px;
}
.gigya-screen.landscape .gigya-layout-row.with-divider .gigya-composite-control.gigya-composite-control-submit,
.gigya-screen.landscape .gigya-layout-row.with-divider .gigya-composite-control.gigya-composite-control-button,
.gigya-screen.landscape .gigya-layout-row.with-divider .gigya-composite-control.gigya-composite-control-link.button {
	padding-bottom: 0px;
}
.gigya-screen.landscape form.gigya-form-error .gigya-layout-row.with-divider {
	padding-bottom: 10px;
}
.gigya-screen.landscape form.gigya-form-error .gigya-layout-row.with-divider .gigya-composite-control.gigya-composite-control-submit,
.gigya-screen.landscape form.gigya-form-error .gigya-layout-row.with-divider .gigya-composite-control.gigya-composite-control-button,
.gigya-screen.landscape form.gigya-form-error .gigya-layout-row.with-divider .gigya-composite-control.gigya-composite-control-link.button {
	padding-bottom: 10px;
}
.gigya-screen.landscape form.gigya-form-error .gigya-layout-row.with-divider .gigya-composite-control.gigya-composite-control-form-error.gigya-error-display-active {
	padding-bottom: 0px;
}
/* divider */

.gigya-screen .gigya-layout-row.with-divider > .gigya-layout-cell {
	min-width: 48%;
	width: 48%;
}
.gigya-screen .gigya-layout-row.with-divider > .gigya-layout-cell.with-divider {
	min-width: 4%;
	width: 4%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMSURBVBhXY7h8+TIABPYCeicnV7oAAAAASUVORK5CYII=);
	background-position: center;
}
.gigya-screen .gigya-layout-row.with-divider > .gigya-layout-cell.with-divider > .gigya-divider-content {
	padding: 0px;
	position: relative;
	line-height: 16px;
	background: white;
	text-align: center;
	min-width: 10px;
}
.gigya-screen.portrait .gigya-layout-row.with-divider > .gigya-layout-cell.with-divider {
	height: 81px;
	background-repeat: repeat-x;
	position: relative;
}
.gigya-screen.portrait .gigya-layout-row.with-divider > .gigya-layout-cell.with-divider > .gigya-divider-content {
	padding: 0px 10px 2px 10px;
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.gigya-screen.landscape .gigya-layout-row .gigya-layout-cell.under-site-login {
	width: 370px;
	text-align: center;
	min-width: 0px;
	margin-left: 460px;
}
.gigya-screen.landscape .gigya-layout-row.with-divider {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.gigya-screen.landscape .gigya-layout-row.with-divider > .gigya-layout-cell.with-divider {
	margin-top: 41px;
	width: 87px;
	background-repeat: repeat-y;
}
.gigya-screen.landscape .gigya-layout-row.with-divider > .gigya-layout-cell.with-divider > .gigya-divider-content {
	display: block;
	line-height: 15px;
	padding: 10px 0px;
	top: 83px;
	left: 0px;
}
.gigya-screen.landscape .gigya-layout-row.with-divider > .gigya-layout-cell.with-social-login,
.gigya-screen.landscape .gigya-layout-row.with-divider > .gigya-layout-cell.with-site-login {
	min-width: 0;
	width: 370px;
}
/* mobile devices */
/* tfa screens */

.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input[type=checkbox],
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-code-remember-checkbox {
	margin-right: 8px;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input[type=radio] {
	margin-right: 5px;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input[type=radio] {
	margin-top: 7px;
	margin-bottom: 4px;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container select {
	font-size: 15px;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-link {
	margin-left: 24%;
	margin-top: 8%;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-email-text {
	font-weight: bold;
	width: 207px;
	margin: 0 auto;
	font-size: 15px;
	padding-bottom: 25px;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-email-code-header-text {
	width: 240px;
	margin: 0 auto;
	padding-top: 6px;
	padding-bottom: 5px;
	font-size: 15px;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-header-text,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-header-subtext,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-phonenumber {
	display: inline;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-header-subtext {
	display: inline-block;
	margin-left: 5px;
	padding-bottom: 40px;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-code-header-subtext + .gig-tfa-label {
	margin-top: 40px;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-register-example {
	display: block;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-label {
	padding-bottom: 6px;
	display: block;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-register-select,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-register-example,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-code-textbox,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-code-remember-label,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-resend-header-text,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-resend-yourphone-label {
	margin: 0px 0px 18px 0px;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-header-text {
	margin: 0px;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-code-textbox,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-number {
	font-size: 15px;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-register-type {
	text-align: right;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-error {
	text-align: center;
	margin-bottom: 18px;
	margin-top: -10px;
	font-size: 15px;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-error:empty {
	display: none;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-code-remember-checkbox {
	margin-top: 0;
	margin-bottom: 2px;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-register-type span,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-resend-type span {
	display: inline-block;
	vertical-align: top;
	padding-top: 5px;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-prefix {
	display: none;
	height: 43px;
	width: 10%;
	margin-top: 0px;
	margin-right: 16px;
	text-align: center;
	background-color: #f2f2f2;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-number {
	margin-top: 0px;
	height: 43px;
	width: 100%;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container label {
	display: inline;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-resend-type-label,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-register-type-label,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-resend-type,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-register-type {
	display: inline-block;
	width: 33.33333%;
	margin-bottom: 18px;
	margin-top: 18px;
	vertical-align: top;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-resend-type-label,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-register-type-label {
	padding: 5px 0px;
	width: 30.33333%;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-resend-type,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-register-type {
	margin-right: 0px;
	margin-left: 0px;
	width: 33.33333%;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-resend-type-sms,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-register-type-sms {
	width: 38.33333%;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-resend-type-voice-call,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-register-type-voice-call {
	width: 31.33333%;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-button-container {
	margin: 0px;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-button-container .gig-tfa-button,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-button-container .gig-tfa-button-submit {
	background-image: none;
	-webkit-filter: none;
	filter: none;
	font-weight: normal;
	line-height: normal;
	padding-top: 10px;
	margin-bottom: 25px;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-edit-link {
	width: 70px;
	line-height: 43px;
	float: right;
	margin-top: -10px;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-edit-numbers {
	margin-top: 26px;
	line-height: 31px;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-edit-numbers:last-child {
	padding-bottom: 25px;
}
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container input.gig-tfa-phone-prefix {
	display: none;
}
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container input.gig-tfa-phone-prefix {
	display: none;
}
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-edit-link {
	font-size: 19px;
	padding: 0px;
	margin-top: 0px;
}
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-prefix {
	display: none;
	width: 10%;
	margin-right: 8px;
}
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-number {
	width: 100%;
}
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-code-remember-label {
	margin-left: 0;
}
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-error,
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-resend {
	font-size: 13px;
}
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-edit-header-text {
	font-size: 13px;
	color: #4e515e;
}
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-edit-numbers {
	margin-top: 30px;
}
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-edit-numbers .gig-tfa-phone-edit-number {
	font-size: 13px;
	margin-top: 8px;
	color: #4e515e;
}
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-prefix,
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-number,
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-code-textbox {
	font-size: 13px;
	height: 36px;
}
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-button-container .gig-tfa-button,
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-button-container .gig-tfa-button-submit {
	margin-bottom: 15px;
}
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-phone-resend-header-text {
	display: block;
}
.gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-code-remember-checkbox {
	margin-bottom: 0;
}
/* only on deviceType:'mobile' */

.gigya-screen-dialog-mobile .gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-number {
	width: 100%;
}
/* RegistrationLogin/gigya-login-screen */

#gigya-login-screen.gigya-screen.landscape .gigya-layout-row.with-divider > .gigya-layout-cell.with-divider > .gigya-divider-content {
	top: 83px;
}
#gigya-login-screen.gigya-screen.portrait.mobile .gigya-prefered-content-width {
	width: 375px;
}
/* RegistrationLogin/gigya-register-screen */

#gigya-register-screen.gigya-screen.landscape .gigya-layout-row.with-divider > .gigya-layout-cell.with-divider > .gigya-divider-content {
	top: 127px;
}
#gigya-change-password-screen .error-wrapper {
	width: 100%;
}
#gigya-change-password-screen.portrait.mobile input[password] {
	width: 260px;
}
#gigya-change-password-screen.portrait.mobile input[submit] {
	width: 276px;
}
#gigya-update-profile-screen {
	/* only on deviceType:'mobile' */
}
#gigya-update-profile-screen .first-name-row > div {
	padding: 0 0;
}
#gigya-update-profile-screen .first-name-row input {
	margin: 0px;
}
#gigya-update-profile-screen .first-name-row input {
	margin-bottom: 13px;
}
#gigya-update-profile-screen .last-name-row > div {
	padding: 0 0;
}
#gigya-update-profile-screen .gigya-myPhoto {
	padding: 0 0;
	display: inline-block;
}
#gigya-update-profile-screen .second-cell {
	display: inline-block;
}
#gigya-update-profile-screen .gigya-layout-row {
	overflow: visible;
}
#gigya-update-profile-screen .gigya-layout-cell.gigya-tfa-off {
	float: none;
}
#gigya-update-profile-screen .gigya-layout-cell.gigya-tfa-off a,
#gigya-update-profile-screen .gigya-layout-cell.gigya-tfa-off .gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-code-resend,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container #gigya-update-profile-screen .gigya-layout-cell.gigya-tfa-off .gig-tfa-phone-code-resend {
	float: none;
}
#gigya-update-profile-screen.portrait .gigya-myPhoto {
	width: 120px;
}
#gigya-update-profile-screen.portrait .second-cell > div {
	margin-left: 16px;
}
#gigya-update-profile-screen.portrait .first-row .gigya-myPhoto-profile-box-wrapper {
	margin-left: 0;
	margin-top: 0;
}
#gigya-update-profile-screen.portrait .first-row .gigya-myPhoto {
	padding-top: 23px;
}
#gigya-update-profile-screen.portrait .first-row .second-cell {
	width: -webkit-calc(100% - 124px);
	width: -moz-calc(100% - 124px);
	width: calc(100% - 124px);
	vertical-align: top;
	line-height: 17px;
}
#gigya-update-profile-screen.portrait.mobile .first-row {
	height: 132px;
	margin-top: -2px;
}
#gigya-update-profile-screen.portrait.mobile .first-row .gigya-myPhoto {
	padding-top: 21px;
	width: 106px;
}
#gigya-update-profile-screen.portrait.mobile .first-row .second-cell {
	margin-left: 10px;
	width: -webkit-calc(100% - 120px);
	width: -moz-calc(100% - 120px);
	width: calc(100% - 120px);
	line-height: 15px;
}
#gigya-update-profile-screen.portrait.mobile .first-row .first-name-row,
#gigya-update-profile-screen.portrait.mobile .first-row .last-name-row {
	margin-left: 10px;
}
#gigya-update-profile-screen.portrait.mobile .first-row .last-name-row {
	margin-top: 15px;
}
#gigya-update-profile-screen .gigya-screen-dialog-mobile #gigya-change-password-screen.gigya-screen.portrait .link-cell {
	margin-left: 44%;
}
#gigya-link-account-screen .submit-cell {
	width: 100%;
}
#gigya-link-account-screen .main-Header {
	margin-bottom: 10px;
}
#gigya-link-account-screen .gigya-container .gigya-layout-cell {
	max-width: none;
}
#gigya-link-account-screen .gigya-footer .first-cell,
#gigya-link-account-screen .second-cell {
	min-width: 0;
}
#gigya-link-account-screen .gigya-footer .second-cell {
	float: right;
}
#gigya-link-account-screen .password-title,
#gigya-link-account-screen .sub-title-text {
	text-align: center;
}
#gigya-link-account-screen.portrait .main-Header .title {
	text-align: center;
}
#gigya-link-account-screen.portrait .gigya-footer .first-cell {
	float: left;
}
#gigya-link-account-screen.portrait.mobile .button-row label,
#gigya-link-account-screen.portrait.mobile .gigya-composite-control-textbox,
#gigya-link-account-screen.portrait.mobile .password-container,
#gigya-link-account-screen.portrait.mobile .first-cell > .gig-tfa-phone-code-resend {
	padding-left: 0;
	padding-right: 0;
}
#gigya-link-account-screen.portrait.mobile .main-Header {
	width: 84%;
}
/* only on deviceType:'mobile' */

.gigya-screen-dialog-mobile #gigya-link-account-screen.gigya-screen.portrait .submit-cell > div {
	padding-left: 0;
	padding-right: 0;
}
#gigya-reauthentication-screen .gigya-composite-control.gigya-composite-control-label.main-text.inlined,
#gigya-reauthentication-screen .gigya-screen.portrait div.gigya-tfa .gig-tfa-container .inlined.gig-tfa-header-text,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container #gigya-reauthentication-screen .inlined.gig-tfa-header-text {
	letter-spacing: 0.1px;
	display: block;
}
#gigya-reauthentication-screen .social-title,
#gigya-reauthentication-screen .site-container-title {
	text-align: center;
}
#gigya-reauthentication-screen .forgot-password-cell {
	float: none;
	min-width: initial;
	max-width: none;
	margin: 0 auto;
}
#gigya-reauthentication-screen .forgot-password-cell > a,
#gigya-reauthentication-screen .gigya-screen.portrait div.gigya-tfa .gig-tfa-container .forgot-password-cell > .gig-tfa-phone-code-resend,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container #gigya-reauthentication-screen .forgot-password-cell > .gig-tfa-phone-code-resend {
	display: inline;
}
#gigya-reauthentication-screen .social-container-text {
	text-align: center;
}
#gigya-reauthentication-screen .social-sub-title {
	padding-bottom: 26px;
}
#gigya-reauthentication-screen.portrait .main-header {
	width: 98%;
}
#gigya-reauthentication-screen.portrait.mobile .main-header {
	width: 60%;
}
/* mac os fixes */

.gigya-mac .gigya-screen label.letter-spacing-s {
	letter-spacing: -0.3px;
}
/* ios fixes */

.gigya-ios .gigya-screen.landscape input[type=checkbox],
.gigya-ios .gigya-screen.landscape .gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-code-remember-checkbox,
.gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gigya-ios .gigya-screen.landscape .gig-tfa-code-remember-checkbox,
.gigya-ios .gigya-screen.portrait input[type=checkbox],
.gigya-ios .gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-code-remember-checkbox,
.gigya-ios .gigya-screen.portrait.mobile input[type=checkbox],
.gigya-ios .gigya-screen.portrait.mobile div.gigya-tfa .gig-tfa-container .gig-tfa-code-remember-checkbox {
	margin-bottom: 5px;
}
.gigya-ios .gigya-screen#gigya-change-password-screen form label:nth-child(1) {
	letter-spacing: -0.1px;
}
.gigya-ios .gigya-screen#gigya-forgot-password-screen form label:nth-child(1) {
	letter-spacing: -0.3px;
}
/* android */

.gigya-native-mobile-app.gigya-android .gigya-screen.portrait.mobile .gigya-composite-control.gigya-composite-control-social-login {
	right: 28px;
}
/* firefox fixes */
/* edge browser fixes */

.gigya-edge .gigya-screen label.letter-spacing-s {
	letter-spacing: -0.3px;
}
/* ie10 fixes */

.gigya-ie10 .gigya-screen.portrait label {
	letter-spacing: -0.3px;
}
.gigya-ie10 .gigya-screen.mobile label {
	letter-spacing: 0px;
}
.gigya-ie10 .gigya-screen #gigya-change-password-screen.portrait .gigya-message {
	letter-spacing: -0.2px;
}
.gigya-ie10 .gigya-screen #gigya-change-password-screen.mobile {
	letter-spacing: 0px;
}
/* ie9 fixes */

.gigya-ie9 .gigya-screen#gigya-login-screen.landscape .gigya-layout-row.with-divider .gigya-layout-cell.with-divider {
	height: 202px;
}
.gigya-ie9 .gigya-screen#gigya-register-screen.landscape .gigya-layout-row.with-divider .gigya-layout-cell.with-divider {
	height: 300px;
}
.gigya-ie9 .gigya-screen select {
	font-size: 13px;
}
.gigya-ie9 .gigya-screen .gigya-input-text:not(.gigya-placeholder),
.gigya-ie9 .gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-code-textbox:not(.gigya-placeholder),
.gigya-ie9 .gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-number:not(.gigya-placeholder),
.gigya-ie9 .gigya-screen .gigya-input-password:not(.gigya-placeholder) {
	line-height: 40px;
}
.gigya-ie9 .gigya-screen .gigya-composite-control-multi-choice .gigya-multi-choice-item label,
.gigya-ie9 .gigya-screen .gigya-composite-control-checkbox .gigya-label {
	display: inline;
}
/* ie8 fixes */

.gigya-ie8 .gigya-screen .gigya-layout-cell {
	margin-left: 0px !important;
}
.gigya-ie8 .gigya-screen .gigya-layout-cell.under-site-login {
	margin-left: 460px !important;
}
.gigya-ie8 .gigya-screen .gigya-input-text,
.gigya-ie8 .gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-code-textbox,
.gigya-ie8 .gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-number,
.gigya-ie8 .gigya-screen .gigya-input-password {
	padding-top: 11px;
}
.gigya-ie8 .gigya-screen.portrait .gigya-layout-row.with-divider .gigya-layout-cell.with-divider .gigya-divider-content {
	top: 31px;
	left: 45%;
}
.gigya-ie8 .gigya-screen.portrait .gigya-input-text,
.gigya-ie8 .gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-code-textbox,
.gigya-ie8 .gigya-screen.portrait div.gigya-tfa .gig-tfa-container .gig-tfa-phone-number,
.gigya-ie8 .gigya-screen.portrait .gigya-input-password {
	padding-top: 11px;
}
.gigya-ie8 .gigya-screen.portrait gigya-layout-cell {
	margin-left: 0 !important;
}
.gigya-ie8 .gigya-screen.portrait #gigya-change-password-screen.portrait .gigya-message {
	letter-spacing: -0.2px;
}
.gigya-ie8 .gigya-screen.portrait #gigya-change-password-screen.mobile {
	letter-spacing: 0px;
}
.gigya-ie8 .gigya-screen.portrait #gigya-forgot-password-screen.portrait label {
	letter-spacing: -0.3px;
}
.gigya-ie8 .gigya-screen.portrait #gigya-forgot-password-screen.mobile label {
	letter-spacing: 0px;
}
.gigya-ie8 .gigya-screen#gigya-login-screen.landscape .gigya-layout-row.with-divider .gigya-layout-cell.with-divider {
	height: 202px;
}
.gigya-ie8 .gigya-screen#gigya-register-screen.landscape .gigya-layout-row.with-divider .gigya-layout-cell.with-divider {
	height: 300px;
}
.gigya-ie8 .gigya-screen#gigya-update-profile-screen.portrait .second-cell {
	width: 239px;
}
.gigya-ie8 .gigya-screen#gigya-update-profile-screen.portrait.mobile .second-cell {
	width: 57%;
}

