//$web-font-path: "https://fonts.googleapis.com/css?family=Lato:400,700" !default;
//@import url($web-font-path);
@font-face {
    font-family: ProximaNova;
    font-style:  normal;
    font-weight: 400;
    src: url(../fonts/ProximaNova-Regular.otf) format('woff');
}

@font-face {
    font-family: ProximaNova;
    font-style:  normal;
    font-weight: 600;
    src: url(../fonts/ProximaNova-Semibold.otf) format('woff');
}

body {
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
}

p {
    margin: 0 0 1em;
    
    &:last-child {
        margin-bottom: 0;
    }
}

input,
button {
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
}
