@import "../../../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../../../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";

@import "variables";
@import "modules/all";
.col-center {
  @extend .center-block;
  float: none;
}

body {
  @include breakpoint($screen-sm-min) {
    background: $desktop-body-bg;
  }
}

a {
  @include transition(all 0.2s);

  &:not([href]):not([ng-click]) {
    cursor: not-allowed;
  }

  &[ng-click] {
    cursor: pointer;
  }
}

.container {
  padding: 0 20px;
}

.page-title {
  padding: 25px 0 19px;
  border-bottom: $default-border;

  @include breakpoint($screen-sm-min) {
    padding: 55px 0 72px;

    .col-center & {
      text-align: center;
    }
  }
}

.page-title--centered {
  text-align: center;
}

.page-title--no-border {
  border-bottom: 0;
}

.section-header {
  font-size: 18px;
  padding: 42px 0 19px;
}

.text-block {
  position: relative;
  padding: 25px 0 19px;
  border-bottom: $default-border;
}

.text-block--no-border {
  border-bottom: 0;
}

.text-block--info {
  padding-left: 40px;

  &:before {
    content: "i";
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #3881bf;
    width: 26px;
    height: 26px;
    border-radius: 26px;
    line-height: 26px;
    text-align: center;
    padding: 1px 0 0 1px;
    margin-top: -13px;
  }
}
